.items {
  padding-bottom: 50px;
}

.title-category-flex {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.price {
  display: flex;
  justify-content: right;
}
