<div class="about-container">
  <div class="about">
    <img src="assets/images/bild-01-nyx-transparent.png">
  </div>
  <div class="about-text">
    <h1>About</h1>
    <p>Lilly is a passionate artist who creates captivating and expressive artwork. Inspired by nature, her vibrant pieces evoke emotions and invite viewers to explore a world of beauty and wonder. Through her art, Lilly aims to inspire and ignite joy in others, leaving a lasting impression with her unique style and attention to detail.</p>
</div>
  </div>
