<div class="about-container">
  <div class="about">
    <img src="assets/images/octo-1.jpg">
  </div>
  <div class="about-text">
    <h1>about eevee</h1>
    <p>I create cute little creatures, who are waiting to bring a boost of joy and happiness to your life. </p>

    <p>
      Whether you're seeking a charming addition to your home decor, a unique gift for a loved one, or simply a dose of cuteness to brighten your day, you've come to the right place.</p>
    <p>All of these tiny friends possess the power to transport you to a world of innocence and wonder, reminding us of the simpler joys in life.</p>
    <h3>Thank you for visiting, and I hope you find a special little companion.</h3>
</div>
  </div>
