.footer {
  width: 100%;
}

.footer-list {
  padding-right: 100px;
  text-align: left;
}

.footer-list-container {
  display: flex;
  flex-direction: row;
}

.footer-items {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

li {
  padding-bottom: 8px;
}

.social-media-icons {
  padding-left: 15px;
}

.logo {
  height: 90px;
  width: 150px;
  object-fit: cover;
  opacity: 0;
}

