<div class="container-main"> <div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex justify-center items-center"><div>
      <div class="special-h">Explore</div><div class="special-h">my World</div>
      <div class="special-font">step into a whimsical wonderland
        <div>of colors and creativity</div>
      </div>
      <div>
      </div>
    </div></div>
    <div class="flex justify-center items-center"><img src="assets/images/the_lucky_one.png"></div>
    <div class="flex justify-center items-center"><img src="assets/images/the_dreamer.png"></div>
    <div class="flex justify-center items-center"><div class="special-h"><a [routerLink]="['/products']">Visit shop</a></div></div>
  </div>
</div>
</div>
