<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/cat-1.webp" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/panda-2.jpg" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/panda-6.jpeg" alt="">

    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/dragon-1.jpg" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/octo-1.jpg" alt="">

    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/panda.jpg"alt="">
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/pande-5.jpg" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/unicorn-1.jpg" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/octo-4.jpeg" alt="">
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/octo-3.jpeg" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/panda-7.webp" alt="">
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="assets/images/octo-2.jpg" alt="">
    </div>
  </div>
</div>
