<div class="container-main"> <div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex justify-center items-center"><div>
<!--      <div class="special-h">Welcome</div>-->
      <div class="bodoni">Newcomer</div>

      <div>
      </div>
    </div></div>
    <div class="flex justify-center items-center"><img src="assets/images/the_lucky_one.png"></div>
    <div class="flex justify-center items-center"><img src="assets/images/the_dreamer.png"></div>
    <div class="flex justify-center items-center"><div class="special-h"><a [routerLink]="['/products']">Visit shop</a></div></div>
  </div>
</div>
</div>
