.special-h {
  font-family: "subway-new-york-std", sans-serif;
  font-size: 4em;
  color: slategrey;
  padding-bottom: 25px;
  text-align: left;
}

.special-font {
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
}

.container-main {
  padding: 25px;
}
