.special-h {
  font-family: "subway-new-york-std", sans-serif;
  font-size: 3em;
  color: slategrey;
  padding-bottom: 25px;
  text-align: center;
  margin: auto;
}

.special-font {
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
}

.container-main {
  padding: 25px;
}

.bodoni {
  font-family: "bodoni-urw", serif;
  font-size: 3em;
  font-weight: 400;
}
