.main-navigation {
  width: 100%;
  display: flex;
  justify-content: center;

}
.mat-toolbar {
  z-index: 100;
  background-color: white;
}

.image-logo {
  width: 80px;
  object-fit: cover;
}

a {
  font-family: "Roboto";
  font-size: 1.1em;
  font-weight: lighter;
  color: rgb(65, 53, 67);
}
.special-h {
  font-family: "subway-new-york-std", sans-serif;
  font-size: 1.7em;
  color: black;
  text-align: left;
}

a:hover {
  color: rgb(143, 67, 238);
  background-color: transparent;
}
a:active {
  color: rgb(170, 80, 255);
}
