<mat-toolbar>
<!--    <div>-->
<!--      <a routerLink="">-->
<!--        <img class="image-logo" alt="logo" src="" />-->
<!--      </a>-->
<!--    </div>-->
  <div class="main-navigation">
  <button mat-button>Works</button>
  <span class="side-spacer"></span>
  <button mat-button >Shop</button>
  <span class="side-spacer"></span>
  <button mat-button >About</button>
  <span class="side-spacer"></span>
  </div>
  <a>
      <span class="material-symbols-outlined">
    shopping_cart_checkout
</span>
  </a>
  <span class="side-spacer"></span>

</mat-toolbar>

<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<h1>Hello</h1>
<button class="py-2 px-3 m-2 bg-blue-500 hover:bg-nav-hover-blue rounded-md text-white">Click Here!</button>
