<mat-toolbar>
    <div>
      <a routerLink="">
        <img class="image-logo" alt="logo" src="../../../assets/images/logo-alinasorger.png" />
      </a>
    </div>
  <div class="main-navigation">
  <a >Works</a>
  <span class="side-spacer"></span>
  <a  [routerLink]="['/products']">Shop</a>
  <span class="side-spacer"></span>
  <a  >About</a>
  <span class="side-spacer"></span>
  </div>
  <a [routerLink]="['/cart']">
      <span class="material-symbols-outlined">
    shopping_cart_checkout
</span>
  </a>
  <span class="side-spacer"></span>
</mat-toolbar>
