<div class="header">
<mat-toolbar>
    <div >
      <a class="special-h" [routerLink]="['/works']">
        eevee
      </a>
    </div>
  <div class="main-navigation">
  <a [routerLink]="['/works']">Works </a>
  <span class="side-spacer"></span>
  <a  [routerLink]="['/products']" (click)="reloadPage()" >Shop</a>
  <span class="side-spacer"></span>
  <a [routerLink]="['/about']" >About</a>
  <span class="side-spacer"></span>
  </div>
  <a [routerLink]="['/cart']">
      <span class="material-symbols-outlined">
    shopping_cart_checkout
</span>
  </a>
  <span class="side-spacer"></span>
</mat-toolbar>
</div>
