<div class="card-container">
  <div class="cards">
  <mat-card class="product-card">
  <img mat-card-image src="assets/images/the_lucky_one.png" alt="the lucky one">
</mat-card>
</div>

<div class="cards">
<mat-card class="product-card">
  <mat-card-header>

    <h1>the lucky one</h1>
<!--    <mat-card-subtitle>Category: Print</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>

    <h4>Limited edition of 46 signed prints</h4>
      <ul>
        <li>Premium Munken Paper</li>
    <li>Art print of Fine Art Paper or Canvas</li>
    <li>Each print is numbered and hand-signed</li>
    <li>Hand-signed on front and back</li>
  </ul>

    Choose a size:
    <div>
      <mat-radio-group aria-label="Select a size">
        <mat-radio-button value="30 x 50">30 x 50 cm</mat-radio-button>
        <mat-radio-button value="40 x 60">40 x 60 cm</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-card-content>
<mat-divider></mat-divider>
  <mat-card-actions class="price-container">
    <p class="price"> 70€ </p>
    <button mat-button>Add to Cart</button>
  </mat-card-actions>
</mat-card>
</div>
</div>


