.product-card {
  max-width: 400px;
  margin: auto;
}

.example-header-image {
  background-size: cover;
}

.card-container {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards {
  padding: 25px 8px 25px 8px;
}
