
<div *ngIf="original
" class="card-container">
  <div class="cards">
  <mat-card class="original
  -card">
  <img mat-card-image [src]="original.url" alt="{{ original
  .title }}">
</mat-card>
</div>

<div class="cards">
<mat-card class="original
-card">
  <mat-card-header>

    <h1>{{ original
      .title }}</h1>
    <mat-card-subtitle>{{ original
      .material }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>


    <h4>Limited edition of 46 signed prints</h4>
      <ul>
        <li>Premium Munken Paper</li>
    <li>Art print of Fine Art Paper or Canvas</li>
    <li>Each print is numbered and hand-signed</li>
    <li>Hand-signed on front and back</li>
  </ul>{{ original
    .description }}
    <div>Size: {{ original
      .size }}
    </div>
  </mat-card-content>
<mat-divider></mat-divider>
  <mat-card-actions class="price-container">
    <p class="price">€ {{ original
      .price }} </p>
    <button mat-button (click)="addToCartEmit()" [disabled]="isAddToCartDisabled">Add to Cart</button>
  </mat-card-actions>
</mat-card>
</div>
</div>


