<div class="admin-container">
  <mat-card>
  <mat-card-content>
    <h2>Login</h2>
    <form class="login-form" [formGroup]="loginForm" >
<div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" name="email" id="email"
               type="email" formControlName="email">
      </mat-form-field>
</div>
      <div>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" value="" name="password" type="password" id="password" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button (click)="submit()">Login</button>
      </div>
    </form>
    <div>
    <a [routerLink]="('/register')" >Register</a>
    </div>
  </mat-card-content>
</mat-card>
</div>

