<div class="about-container">
  <div class="about-text">
    <br>
    <br>
    <h1>Legal Notice</h1>
    <br>
    <h2>Website Owner:</h2>
    <p>Eevee</p>
    <p>Vienna, Austria</p>

    <h2>Contact:</h2>
    <p>Email: contact@eeveeart.com</p>

    <h2>Responsible for Content:</h2>
    <p>Eevee</p>
    <p>Vienna, Austria</p>

    <h2>Disclaimer:</h2>
    <p>The information provided on this website is for general informational purposes only. While we strive to keep the information up to date and accurate, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

    <h2>Links to Third-Party Websites:</h2>
    <p>This website may contain links to third-party websites for your convenience. These websites are not under our control, and we are not responsible for the content, privacy policies, or practices of any third-party websites. We encourage you to review the terms and privacy policies of any third-party websites that you visit.</p>

    <h2>Intellectual Property:</h2>
    <p>All images, artwork, designs, and other intellectual property displayed on this website are the exclusive property of Eevee, unless otherwise stated. The reproduction, distribution, or unauthorized use of any content from this website is strictly prohibited without prior written permission from Eevee.</p>

    <h2>Applicable Law and Jurisdiction:</h2>
    <p>The use of this website and any disputes arising from it are subject to Austrian law. The courts of Vienna, Austria shall have exclusive jurisdiction over any disputes.</p>

      </div>
    </div>
